h1 {
  text-align: center;
}

.App {
  background-color: rgb(188, 221, 213);
  padding: 30px;
}

h1 {
  text-align: center;
  
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(231, 231, 231);
  box-shadow: 0 0 5px rgb(146, 146, 146);
  border-radius: 5px;
}

.music-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.music-item p {
width: 30%;
}

span {
  width: 60%;
  /* background-color: blue; */
}

.albums {
  display: flex;
  flex-direction: row;
}

.albums-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 25%;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 0 5px rgb(158, 158, 158);
  background-color: rgb(231, 231, 231);
  border-radius: 5px;
}

.albums-item p {
text-align: center;
font-weight: bold;
}

.music-item span {
  font-weight: bold;
}

h3 {
  text-align: center;
}




